@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ElectroShop.Models.SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    @functions {
        public string Abbreviate(string input, int maxLength)
        {
            if (input.Length <= maxLength)
            {
                return input;
            }
            else
            {
                return input.Substring(0, maxLength) + "...";
            }
        }
    }
</script>
<nav>
    <!-- container -->
    <div>
        <!-- responsive-nav -->
        <div>
            <!-- NAV -->
            <div class="slider">
                <div class="list">
                    <div class="item">
                        <img src="~/Images/DGHelp_Banner_2000X650_acer.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/Images/z4953726235718_f6add0fc5ef9fe509b3eb19810341009.jpg" alt="">
                    </div>
                </div>
                <div class="buttons">
                    <button id="prev"><</button>
                    <button id="next">></button>
                </div>
                <ul class="dots">
                    <li class="active"></li>
                    <li></li>
                </ul>
            </div>
            <select class="input-select" onchange="window.location.href=this.value">
                <option value="0">Sắp xếp theo giá</option>
                @Html.Action("SapXep", "ElectroShop")
            </select>
            <!-- /NAV -->
        </div>
    </div>
    <!-- /container -->
</nav>
<div class="row text-center">
    @foreach (var sp in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-7 sp">
            <div class="thumbnail">
                <img src="~/Images/@sp.AnhBia" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h4 class="ten">
                        <a href="@Url.Action("ChiTietSP", "ElectroShop", new { id = sp.MaSP })">@Abbreviate(sp.TenSP, 20)</a>
                    </h4>
                    <h4>@string.Format("{0:N0}VNĐ", sp.GiaBan)</h4>
                    <p>
                        <a href="@Url.Action("ThemGioHang","GioHang", new { ms = sp.MaSP, url = Request.Url.ToString() })" class="btn btn-primary1" role="button">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Add to Cart
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<div class="text-center">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
        {
            Display = PagedListDisplayMode.IfNeeded
        })
    </div>
</div>

<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }

    .btn-primary1 {
        color: #fff;
        background-color: #D10024;
        border-color: #D10024;
    }
</style>

